*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}


/*INTRODUCTION*/
.intro-info{
    padding: 3rem;
    text-align: center; 
    margin-top: 5rem;
}

.image-intro{
    height: 50rem;
    background-image: url("../Images/img-intro.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

.info h1{
    font-size: 50px;
    margin-top: -7rem;
}

.info p{
   color: black;
    text-align: center;
    padding: 0.4rem;
    margin-bottom: 2rem; 
}

.info button{
    border-radius: 25px;
    background-color:#E2E4E6;
    color:white;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 2.5rem; 
}

.info button:hover{
    background-color: rgb(217, 215, 215); 
}

button{
    border-radius: 2em;
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 1px solid;
}

button:hover{
    background-color:  #E2E4E6;
}


/*PRODUCTS*/
.products{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

.products .product{
    flex: 0 0 calc(30% - 20px);/* setează flex-grow, flex-shrink și flex-basis pentru elementele flex */
    margin-bottom: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box; /* Adăugat pentru a include padding-ul în lățimea totală */
}

.products .product img{
    width: 100%;
    height: auto;
}


/*PRODUCTS SCROLL*/
.scroll{
    height: 46rem;
    display: flex;
    margin-top: 2rem;
    overflow-x: auto;
    justify-content: space-between;
}


.gallery{
    display:flex ;
    justify-content: space-between;
}

.back-btn, .next-btn{
    width: 3rem;
    cursor: pointer;
    margin: 2rem;
    transform:scale(1) ;
}


.product-scroll{
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(205, 202, 202, 0.1);
    box-sizing: border-box; /* Adăugat pentru a include padding-ul în lățimea totală */
    padding: 0.5rem;
    margin: 2rem;
}

.product-scroll img{
    max-height: 100%;
}

.scroll-products h2{
    font-size: x-large;
    margin: 1rem;
    padding-right: 0px;
    text-indent: 5%;
}

.scroll-products >div{
    margin-bottom: 2.5rem;
}



@media screen and (max-width: 417px){
    .product p{
        font-size: x-small;
    }

    .product h3{
        font-size: x-small;
    }

    .products .product{
        flex-direction: column;
        flex: 0 0 calc(50% - 20px);
    }

    .scroll{
        height: 450px;
    }

    .intro-info p{
        font-size: small;
        margin: 0rem;
    }

    .intro-info h1{
        font-size:medium;
    }

    .intro-info button{
        padding:0.5rem;
        margin: 0rem;
    }
    .intro-info button a{
        font-size: small;
    }

    .image-intro{
        width: 100%;
        background-image: url("../Images/img-intro3.jpg");
    }
    
}

@media screen and (min-width: 417px) and (max-width: 768px){
    .products .product{
        flex-direction: column;
        flex: 0 0 calc(50% - 20px);
    }

    .products p{
        font-size: large;
    }

    .products h3{
        font-size: large;
    }
    
    .intro-info p{
        font-size: small;
        margin: 0rem;
    }

    .intro-info h1{
        font-size: x-large;
    }

    .intro-info button{
        padding:0.5rem;
        margin: 0rem;
    }
    .intro-info button a{
        font-size: small;
    }

    .image-intro{
        width: 100%;
        background-image: url("../Images/img-intro2.jpg");
    }
    .scroll{
        height: 450px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1115px){
    .scroll{
        height: 600px;
    }
    .product-scroll {
        height: 500px;
    }
    
    .products p{
        font-size: small;
    }

    .products h3{
        font-size: medium;
    }
}
@media screen and (min-width:1115px) and (max-width: 1200px){
    .products p{
        font-size: larger;
    }

    .products h3{
        font-size: larger;
    }
}
